* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Signika Negative", sans-serif;
}
/* body {
  max-width: 900px;


/* //Amro */
.healthy-container {
  background-color: bisque;
}
.first-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.first-container {
  position: relative;
  background-image: url("Shape (3).png"), url("Shape (1).png"),
    url("Shape (2).png");
  background-repeat: no-repeat;
  background-position: 5%, right, center top;
  background-size: 5%, 5%, 5%;
}

.seconed-container {
  position: relative;
  background-image: url("Shape (3).png"), url("Shape (1).png"),
    url("Shape (2).png");
  background-repeat: no-repeat;
  background-position: 10%, 90%, center top;
  background-size: 3%, 3%, 5%;
}

.text-Container {
  width: 35%;
}

.text-Container h1 {
  margin-bottom: 10px;
}

.first-container img {
  max-width: 100%;
  height: 200px;
  border-radius: 50%;
  margin-top: 25px;
}

.first-container button {
  width: 40%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #716c53;
  color: #f7f7f7;
  font-size: 15px;
  cursor: pointer;
  margin-top: 20px;
}

.seconed-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 80px;
}

.seconed-container h1 {
  margin-bottom: 10px;
}

.big-circle {
  display: flex;
  justify-content: space-around;
  margin-left: 2%;
  margin-right: 2%;
}

.circle {
  width: 150px;
  border-style: solid;
  border-color: black;
  height: 150px;
  border-radius: 50%;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.circle h1 {
  font-size: 36px;
  margin-bottom: 5px;
}

/* //Amro */
/*
  margin-left: auto;
  margin-right: auto;
} */

/* // Daniil */
.Daniil-Our {
  background-color: #fff3df;
  height: 350px;
  padding-top: 50px;
  text-align: center;
}

.flex-container-Our {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: stretch;
  padding-top: 20px;
}

.flex-items-Our:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items-Our:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items-Our:nth-child(3) {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}
.h4-Dan {
  padding-top: 10px;
  color: rgb(100, 58, 11);
}
.h1-Our {
  text-align: center;
  color: rgb(100, 58, 11);
}
.p-Our {
  text-align: center;
  padding-top: 10px;
  color: rgb(100, 58, 11);
}

.Daniil-100 {
  background-color: #f7dfbb;
  height: 350px;
  padding-top: 50px;
}
.flex-container-100 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
}

.flex-items-100:nth-child(1) {
  display: flex;
  width: 40%;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  justify-content: flex-end;
}

.flex-items-100:nth-child(2) {
  display: flex;
  flex-direction: column;
  width: 40%;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  align-items: flex-start;
  justify-content: flex-start;
}

.h1-100 {
  color: rgb(100, 58, 11);
  padding-bottom: 20px;
}
.p-100 {
  color: rgb(100, 58, 11);
  padding-bottom: 20px;
}

.btn-100 {
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  color: #ffffff;
  font-size: 16px;
  background: #716c53;
  padding: 10px 30px 10px 30px;
  text-decoration: none;
}

.btn-100:hover {
  background: #a19247;
  text-decoration: none;
}
/* Daniil */
